<footer>
    <div class="container d-flex flex-column align-items-center">
        <p class="footer-text">Address:</p>
        <p class="footer-text">13, Folornsho street, Georgia, United Kindgom</p>
        <a href="tel:0817-047-7279" class="footer-text text-white">0817-047-7279</a>
        <div class="d-flex mt-3">
            <a href="https://www.facebook.com/Tobi.Osimosu">
                <img src="/assets/footer/facebook.svg" alt="Facebook" loading="lazy" class="img-fluid mr-3">
            </a>
            <a href="https://www.linkedin.com/in/tobi-osimosu-43498519b/">
                <img src="/assets/footer/linkedin.svg" alt="LinkedIn" loading="lazy" class="img-fluid mr-3">
            </a>
            <a href="https://twitter.com/_Tobiie">
                <img src="/assets/footer/twitter.svg" alt="Twitter" loading="lazy" class="img-fluid">
            </a>
        </div>
        <div class="divider"></div>
        <p class="footer-text mb-0">Copyright 2020. Developed by Osimosu Oluwatobiloba James and Designed by Adesanoye
            Adenike. All rights reserved. </p>
    </div>
</footer>