<section id="about">
    <div class="container">
        <div class="banner">
            <div class="employees">
                <span class="banner-text1">50+</span>
                <span class="banner-text2">Employees</span>
            </div>
            <div class="divider"></div>
            <div class="clients">
                <span class="banner-text1">3,000+</span>
                <span class="banner-text2">Clients</span>
            </div>
            <div class="divider"></div>
            <div class="experience">
                <span class="banner-text1">5yrs+</span>
                <span class="banner-text2">Employees</span>
            </div>
        </div>

        <div class="about">
            <div class="row">
                <div class="col-12 col-lg-6 about-img-container1">
                    <div class="about-img-container2">
                        <img src="/assets/about/about.jpg" alt="About Img" class="about-img img-fluid">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="about-title">About Me</h3>
                    <p class="about-text">
                        Chris Galvin inspired by the cooking of his grandmother started his career in a small
                        neighbourhood restaurant as a pot washer for Antony Worrall Thompsonan English. He over five
                        years working in restaurants and hotels in both the United Kingdom and the United States is the
                        owner Galvin Restaurant and 10 French restaurants.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>