<section #services id="services">
    <div class="container">
        <h5 #servicesTitle class="services-title">Services</h5>
        <h4 #servicesSubTitle class="services-sub-title">As a restaurateur i offer the following service to my clients</h4>
        <div class="services">
            <div #box1 class="box box1" #box>
                <h4 class="box-title">Catering Service</h4>
                <p class="box-body">I help provide food to client's location, and may also cook and serve it on site.
                </p>
            </div>
            <div #box2 class="box box2">
                <h4 class="box-title">Hotel Managemet</h4>
                <p class="box-body">I help hotels manage their resturants, food to and may also cook and serve it on
                    site.
                </p>
            </div>
            <div #box3 class="box box3">
                <h4 class="box-title">Event Planning</h4>
                <p class="box-body">I help provide food to client's location, and may also cook and serve it on site.
                </p>
            </div>
            <div #box4 class="box box4">
                <h4 class="box-title">Business Lecture</h4>
                <p class="box-body">I provide lecture on how to grow a business and how to have help grow business and
                    customer relationship
                </p>
            </div>
            <div #box5 class="box box5">
                <h4 class="box-title">Home service</h4>
                <p class="box-body">I provide lecture on how to grow a business and how to have help grow business and
                    customer relationship
                </p>
            </div>
            <div #box6 class="box box6">
                <h4 class="box-title">Home service</h4>
                <p class="box-body">I provide lecture on how to grow a business and how to have help grow business and
                    customer relationship
                </p>
            </div>
        </div>
    </div>
</section>