<section id="testimonials">
    <div class="container">
        <h5 class="testimonials-title">Testimonials</h5>
        <h4 class="testimonials-sub-title">Here is what my amazing clients
            have to say about me</h4>

        <div class="testimonials">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div style="color: blueviolet;" class="swiper-slide">Slide 1</div>
                    <div style="color: blueviolet;" class="swiper-slide">Slide 2</div>
                    <div style="color: blueviolet;" class="swiper-slide">Slide 3</div>
                </div>

                <!-- <div class="swiper-scrollbar"></div>
                <div class="swiper-pagination"></div> -->

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>