@import "~swiper/swiper-bundle.min.css";

#testimonials {
  padding-top: 43.5px;
  padding-bottom: 127px;

  .testimonials-title {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 55px;
    color: #343434;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -5%;
      bottom: 0;
      background: #31aa52;
      height: 5px;
      width: 10%;
    }
  }

  .testimonials-sub-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 55px;
    color: #343434;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .testimonials {
    margin-top: 82px;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c6c6c6;
    padding: 53px 32px;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .testimonial-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    // text-align: center;
    color: #343434;
  }

  .testimonial-client {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    // line-height: 35px;
    color: #31aa52;
    margin-bottom: 10px;
  }

  .testimonial-company {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    // line-height: 35px;
    color: #999999;
    margin-bottom: unset;
  }

  .testimonial-img {
    margin-bottom: 20px;
  }

  .swiper-wrapper {
    padding: 15px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: inline-block !important;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    height: unset !important;
    width: unset !important;
    margin-top: 20px;

    &::after {
      color: #31aa52 !important;
      font-size: larger;
      font-weight: 900;
    }
  }

  .swiper-button-prev {
    margin-left: 46.7%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 992px) {
  #testimonials {
    .testimonials-sub-title {
      width: 55%;
    }

    // .testimonial-text {
    //   font-size: 24px;
    // }

    // .testimonial-client {
    //   font-size: 28px;
    // }

    // .testimonial-company {
    //   font-size: 24px;
    // }
  }
}
