<section #testimonials id="testimonials" (window:resize)="manageSlide()">
    <div class="container">
        <h5 #testimonialsTitle class="testimonials-title">Testimonials</h5>
        <h4 #testimonialsSubTitle class="testimonials-sub-title">Here is what my amazing clients
            have to say about me</h4>

        <div class="testimonials">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial">
                        <img src="/assets/testimonials/client-image.png" alt="Client Image"
                            class="testimonial-img img-fluid" loading="lazy">
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse. </p>
                        <p class="testimonial-client">Mark Essien</p>
                        <p class="testimonial-company">CEO Hotels.ng</p>
                    </div>
                    <div class="swiper-slide testimonial">
                        <img src="/assets/testimonials/client-image.png" alt="Client Image"
                            class="testimonial-img img-fluid" loading="lazy">
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse. </p>
                        <p class="testimonial-client">Mark Essien</p>
                        <p class="testimonial-company">CEO Hotels.ng</p>
                    </div>
                    <div class="swiper-slide testimonial">
                        <img src="/assets/testimonials/client-image.png" alt="Client Image"
                            class="testimonial-img img-fluid" loading="lazy">
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse. </p>
                        <p class="testimonial-client">Mark Essien</p>
                        <p class="testimonial-company">CEO Hotels.ng</p>
                    </div>
                </div>

                <!-- <div class="swiper-scrollbar"></div>
                <div class="swiper-pagination"></div> -->

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>